@font-face {
  font-family: 'Graphik LC Web';
  src: url('./fonts/GraphikLCWeb-Medium.eot');
  src: url('./fonts/GraphikLCWeb-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/GraphikLCWeb-Medium.woff2') format('woff2'),
    url('./fonts/GraphikLCWeb-Medium.woff') format('woff'),
    url('./fonts/GraphikLCWeb-Medium.ttf') format('truetype'),
    url('./fonts/GraphikLCWeb-Medium.svg#GraphikLCWeb-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
html,
body,
div,
span,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  font-family: 'Graphik LC Web', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  background-color: #ffffff;
  color: #000000;
}

logo__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
}
